/* -----------------------------------
                    navBar
                    ----------------------------------- */

.progress {
    border-radius: 0 !important;
}

.navBar a {
    color: rgba(218, 198, 198, 0.606);
}

.navBar a:hover {
    color: white;
    text-decoration: underline;
}

.progress {
    width: 100%;
    position: fixed;
}

/* -------------------------------
                        Quiz
                        ----------------------------------- */

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    position: relative !important;
}

.overlay {
    display: none;
    position: absolute !important;
    z-index: 10 !important;
    width: 100%;
    height: 80%;
}

#category {
    background-color: #38335c;
    color: white;
    width: 7rem;
}

.quiz-card {
    width: 35rem;
    display: flex !important;
    flex-direction: row !important;
}

.logo {
    width: 100px;
}

.btn-container {
    margin-top: 20px !important;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
    color: white;
}

/* -----------------------
                Mediaquery
                ------------------------------ */

@media(max-width: 450px) {
    .card {
        display: flex !important;
        flex-direction: column !important;
    }

    #category {
        display: flex !important;
        align-items: center;
        width: 100%;
    }

    .navBar {
        display: flex;
        flex-direction: row !important;
        margin-bottom: 5px;
    }
}