.progress {
    border-radius: 0 !important;
}

.navBar a {
    color: rgba(218, 198, 198, 0.606);
}

.navBar a:hover {
    color: white;
    text-decoration: underline;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#category {
    background-color: #38335c;
    color: white;
    width: 7rem;
}

.quiz-card {
    width: 35rem;
    display: flex !important;
    flex-direction: row !important;
}

.logo {
    width: 100px;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
    color: white;
}